@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

body {
  color: #333;
  padding-top: 102px;
  font-family: "Raleway", "Microsoft JhengHei", sans-serif;
}

@media all and (min-width: 450px) and (max-width: 991px) {
  body {
    padding-top: 125px;
  }
}

@media all and (max-width: 449px) {
  body {
    padding-top: 100px;
  }
}

header.navbar {
  border: none;
}

header.navbar-fixed-top {
  z-index: 3;
}

a,
h3,
h3:after,
img,
li,
input,
.topbar .lang,
nav ul.navbar-nav > li a,
.index-block .row > a > div span,
.nav-pills > li,
.nav-pills > li > a,
.nav-pills > li.active > a {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000;
  outline: none;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*
 * dropdown
 */

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/*
 * topbar
 */

.topbar {
  margin-bottom: 2px;
  position: relative;
  z-index: 3;
}

.topbar .container {
  position: relative;
  text-align: right;
}

.topbar .inline-group > div {
  display: inline-block;
}

.topbar a {
  color: #636b6f;
}

.topbar a:hover {
  color: #0448ac !important;
}

.topbar .navbar-form {
  padding-right: 0;
}

.topbar .navbar-form[role="search"] input {
  background-color: #e5e5e5;
}

.topbar .lang i {
  margin-right: 10px;
}

.topbar .lang .dropdown-menu {
  min-width: 140px;
}

@media all and (max-width: 1199px) {
  .topbar .container {
    width: 100%;
  }
}

@media all and (max-width: 991px) {
  .topbar {
    background-color: #0068b7;
  }

  .topbar .dropdown-menu {
    position: relative;
    top: 0;
    z-index: 3;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: none;
    padding: 0;
    margin: 0;
    text-align: right;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #0068b7;
  }

  .topbar .dropdown-item {
    color: #fff;
    display: inline;
    padding: 10px 6px;
  }

  .topbar .inline-group > div {
    display: block;
  }
}

/*
 * navbar
 */

nav {
  max-height: 50px;
}

nav .container {
  position: relative;
  z-index: 3;
}

nav .logo {
  position: absolute;
}

nav ul.navbar-nav > li {
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}

nav ul.navbar-nav > li a {
  color: #333 !important;
  padding: 0 15px;
  font-weight: 700;
  border-left: 1px solid #777;
}

nav ul.navbar-nav > li a:hover {
  color: #0448ac !important;
}

nav ul.navbar-nav > li:first-child a {
  border-left: 0;
}

@media all and (min-width: 992px) {
  nav .logo {
    top: calc(50% - 36px);
  }

  nav .navbar-nav {
    float: right;
  }
}

@media all and (min-width: 1200px) {
  nav .logo {
    top: calc(50% - 56px);
  }
}

@media all and (min-width: 450px) and (max-width: 991px) {
  nav img {
    height: 80px !important;
  }

  nav .navbar-toggle {
    margin-top: 23px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  nav .navbar-toggle {
    display: block;
  }

  nav .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  nav .navbar-collapse.collapse {
    display: none !important;
  }

  nav .navbar-collapse.collapse.in {
    display: block !important;
  }

  nav .navbar-nav {
    float: none !important;
  }

  nav .navbar-nav > li {
    float: none;
  }

  nav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav .collapsing {
    overflow: hidden !important;
  }
}

@media all and (max-width: 1199px) {
  nav .container {
    width: 100%;
  }
}

@media all and (max-width: 991px) {
  nav .logo {
    position: relative;
    top: 0;
  }

  nav .navbar-collapse .row > div {
    padding-left: 0;
    padding-right: 0;
  }

  nav .navbar-collapse .row > div .navbar-nav {
    margin: 7px 0;
  }

  nav .navbar-collapse .row > div .navbar-nav > li {
    border-bottom: 1px dashed #aaa;
  }

  nav .navbar-collapse .row > div .navbar-nav > li:last-child {
    border-bottom: none;
  }

  nav .navbar-collapse .row > div .navbar-nav > li a {
    border-left: none;
  }
}

@media all and (max-width: 449px) {
  nav .logo img {
    height: auto;
  }

  nav .navbar-toggle {
    margin-right: 0;
  }
}

/*
 * slider
 */

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
  margin: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  color: #777;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.owl-theme .owl-nav [class*='owl-'] i {
  margin-top: 12px;
}

.owl-theme .owl-nav .owl-prev {
  left: 30px;
}

.owl-theme .owl-nav .owl-next {
  right: 30px;
}

/*
 * 首頁三個區塊圖
 */

.index-block .row {
  margin-left: 0;
  margin-right: 0;
}

.index-block .row > a {
  color: #333;
  display: block;
  height: 20vw;
  min-height: 300px;
  padding: 40px;
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
  -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.index-block .row > a.pd {
  background: url(/images/home/product.png) no-repeat center/cover;
}

.index-block .row > a.rd {
  color: #fff;
  background: url(/images/home/RD-design.png) no-repeat center/cover;
}

.index-block .row > a.er {
  background: url(/images/home/EX-experience.png) no-repeat center/cover;
}

.index-block .row > a > div {
  height: 100%;
  width: 45%;
}

.index-block .row > a > div h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
}

.index-block .row > a > div p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px;
}

.index-block .row > a > div span {
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 15px;
  background-color: #0068b7;
  border: 1px solid #797979;
  cursor: pointer;
}

.index-block .row > a:hover {
  opacity: 0.9;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.index-block .row > a:hover > div span {
  background-color: #000;
}

@media all and (max-width: 1199px) {
  .index-block .row > a > div {
    width: 60%;
  }

  .index-block .row > a > div h3 {
    font-size: 25px;
    line-height: 30px;
  }
}

.divTable {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.divTable .divTableCell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/*
 * footer
 */

footer {
  padding-top: 33px;
  padding-bottom: 23px;
  background: #5a5a5a;
}

footer .footer-contact {
  color: #fff;
  line-height: 25px;
  font-size: 16px;
}

footer .footer-contact > div {
  line-height: 21px;
  margin-bottom: 0;
}

footer .footer-contact > div span {
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  margin-right: 10px;
}

footer .footer-contact > div span > i {
  font-size: 12px;
  margin-right: 5px;
}

footer .footer-contact > div span > a {
  color: #fff;
}

footer .footer-contact > div span > a:hover {
  color: #0448ac;
}

/*
 * breadcrumb
 */

.breadcrumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  margin-bottom: 20px;
}

.breadcrumb > li {
  color: #fff;
}

.breadcrumb > li > a {
  color: #fff;
}

.breadcrumb > li > a:hover {
  color: #0448ac;
}

.breadcrumb > li.active {
  color: #fff;
}

.breadcrumb > li + li:before {
  content: "";
  background: url(/images/page/icon/arrow.png) no-repeat center center;
  background-size: 12px 12px;
  padding: 0 10px;
}

/*
 * pill
 */

.tabpanel .sidebar {
  min-height: 300px;
  background-color: #efefef;
}

.tabpanel .sidebar h4 {
  height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 35px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background: url(/images/page/sidebar/title-bg.jpg) no-repeat center center;
}

.tabpanel .sidebar h4:after {
  content: "";
  display: block;
  height: 20px;
  margin-top: 14px;
  position: relative;
  z-index: 2;
  background: url(/images/page/sidebar/bottom-arrow.png) no-repeat center center;
}

.tabpanel .tab-content h2 {
  padding-left: 10px;
  border-left: 6px solid #333;
}

.tabpanel .tab-content .content {
  font-size: 16px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .tabpanel .container {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .tabpanel .sidebar {
    min-height: auto;
  }

  .tabpanel .sidebar h4 {
    background-repeat: unset;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #333;
  background-color: #c9c9c9;
}

.nav-pills > li > a {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0;
}

.nav-pills > li > a:hover {
  color: #0448ac;
}

.nav-pills > li > a > i {
  font-size: 14px;
  margin-right: 5px;
}

