@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

body {
  padding-top: 103px;
  font-family: "Raleway", "\5FAE\8EDF\6B63\9ED1\9AD4", sans-serif;
}

header.navbar-fixed-top {
  z-index: 3;
}

a,
h3,
h3:after,
img,
.topbar .lang,
nav ul.nav > li a,
.index-block .row > a > div span {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000;
  outline: none;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*
 * dropdown
 */

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/*
 * topbar
 */

.topbar {
  margin-bottom: 2px;
  position: relative;
  z-index: 5;
}

.topbar .container {
  position: relative;
  text-align: right;
}

.topbar .inline-group > div {
  display: inline-block;
}

.topbar a {
  color: #636b6f;
}

.topbar .navbar-form {
  padding-right: 0;
}

.topbar .navbar-form[role="search"] input {
  background-color: #e5e5e5;
}

.topbar .lang i {
  margin-right: 10px;
}

.topbar .lang .dropdown-menu {
  min-width: 140px;
}

/*
 * navbar
 */

nav {
  max-height: 50px;
}

nav .container {
  position: relative;
  z-index: 3;
}

nav .logo {
  position: absolute;
  top: calc(50% - 40px);
}

nav ul.nav > li {
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}

nav ul.nav > li a {
  padding: 0 15px;
  font-weight: 700;
  border-left: 1px solid #777;
}

nav ul.nav > li:first-child a {
  border-left: 0;
}

/*
 * slider
 */

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
  margin: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  color: #777;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.owl-theme .owl-nav [class*='owl-'] i {
  margin-top: 12px;
}

.owl-theme .owl-nav .owl-prev {
  left: 30px;
}

.owl-theme .owl-nav .owl-next {
  right: 30px;
}

/*
 * 首頁三個區塊圖
 */

.index-block .row {
  margin-left: 0;
  margin-right: 0;
}

.index-block .row > a {
  color: #333;
  display: block;
  height: 20vw;
  min-height: 300px;
  padding: 40px;
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.index-block .row > a.pd {
  background: url(/images/home/product.png) no-repeat center/cover;
}

.index-block .row > a.rd {
  color: #fff;
  background: url(/images/home/RD-design.png) no-repeat center/cover;
}

.index-block .row > a.er {
  background: url(/images/home/EX-experience.png) no-repeat center/cover;
}

.index-block .row > a > div {
  height: 100%;
  width: 45%;
}

.index-block .row > a > div h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
}

.index-block .row > a > div p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px;
}

.index-block .row > a > div span {
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 15px;
  background-color: #0068b7;
  border: 1px solid #797979;
  cursor: pointer;
}

.index-block .row > a:hover {
  opacity: 0.9;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.index-block .row > a:hover > div span {
  background-color: #000;
}

.divTable {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.divTable .divTableCell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/*
 * footer
 */

footer {
  padding-top: 33px;
  padding-bottom: 23px;
  background: #5a5a5a;
}

footer .footer-contact {
  color: #fff;
  line-height: 25px;
  font-size: 16px;
}

footer .footer-contact > div {
  line-height: 21px;
  margin-bottom: 0;
}

footer .footer-contact > div span {
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  margin-right: 10px;
}

footer .footer-contact > div span > i {
  font-size: 12px;
  margin-right: 5px;
}

footer .footer-contact > div span > a {
  color: #fff;
}

footer .footer-contact > div span > a:hover {
  color: #0448ac;
}

