
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Mixin
@mixin transitionEaseInOut {
	$second: 0.3s;
	$animate: ease-in-out;
	transition: all $second $animate;
	-moz-transition: all $second $animate;
    -o-transition: all $second $animate;
    -webkit-transition: all $second $animate;
    -ms-transition: all $second $animate;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	-moz-opacity: $opacity;
    -khtml-opacity: $opacity;
}

@mixin filter($opacity) {
	filter: alpha(opacity=$opacity);
    -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})";
}

@mixin rangeWidth($minWidth,$maxWidth) {
	@media all and (min-width:$minWidth) and (max-width: $maxWidth) {
        @content;
  	}
}

@mixin maxWidth($maxWidth) {
	@media all and (max-width: $maxWidth) {
        @content;
  	}
}

@mixin minWidth($minWidth) {
	@media all and (min-width: $minWidth) {
        @content;
  	}
}

body {
	color: $body-color;
	padding-top: 102px;
	font-family: "Raleway", "Microsoft JhengHei", sans-serif;

	@include rangeWidth($screen-xs-min,$screen-sm-max) {
		padding-top: 125px;
	}

	@include maxWidth($screen-xss-max) {
		padding-top: 100px;
	}
}

header {
	&.navbar {
		border: none;
	}

	&.navbar-fixed-top{
		z-index: 3;
	}
}

%all-transition {
	@include transitionEaseInOut;
}
%all-a {
	text-decoration: none;
    color: #000;
    outline: none;
    @include opacity(0.8);
    @include filter(80);
}

a {
	@extend %all-transition;

	&:hover {
		@extend %all-a;
	}

	&:focus {
		@extend %all-a;
	}

	&:active {
		@extend %all-a;
	}
}

h3 {
	@extend %all-transition;

	&:after {
		@extend %all-transition;
	}
}

img {
	@extend %all-transition;
}

li {
	@extend %all-transition;
}

input {
	@extend %all-transition;
}

/*
 * dropdown
 */ 
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

/*
 * topbar
 */
.topbar {
	margin-bottom: 2px;
	position: relative;
	z-index: 3;

	.container {
		position: relative;
		text-align: right;
	}

	.inline-group > div {
		display: inline-block;
	}

	a {
		color: #636b6f;

		&:hover {
			color: #0448ac !important;
		}
	}

	.navbar-form {
		padding-right: 0;

		&[role="search"] input {
			background-color: #e5e5e5;
		}
	}

	.lang {
		@extend %all-transition;

		i {
			margin-right: 10px;
		}

		.dropdown-menu {
			min-width: 140px;
		}
	}

	@include maxWidth($screen-md-max) {
		.container {
			width: 100%;
		}
	}

	@include maxWidth($screen-sm-max) {
		background-color: #0068b7;

		.dropdown-menu {
			position: relative;
			top: 0;
			z-index: 3;
			display: inline-flex;
			float: none;
			padding: 0;
			margin: 0;
			text-align: right;
			border: none;
			border-radius: 0;
			box-shadow: none;
			background-color: #0068b7;
		}

		.dropdown-item {
			color: #fff;
			display: inline;
			padding: 10px 6px;
		}

		.inline-group {
			> div {
		    	display: block;
			}
		}
	}
}

/*
 * navbar
 */
nav {
	max-height: 50px;
	
	.container {
		position: relative;
    	z-index: 3;
	}

	.logo {
		position: absolute;
	}

	ul {
		&.navbar-nav {
			> li {
				font-size: 16px;
				padding-top: 14px;
				padding-bottom: 14px;

				a {
					@extend %all-transition;
					color: #333 !important;
					padding: 0 15px;
					font-weight: 700;
					border-left: 1px solid #777;

					&:hover {
						color: #0448ac !important;
					}
				}

				&:first-child {
					a {
						border-left: 0;
					}
				}
			}
		}
	}

	@include minWidth($screen-md-min) {
		.logo {
			top: calc(50% - 36px);
		}

		.navbar-nav {
			float: right;
		}
	}

	@include minWidth($screen-lg-min) {
		.logo {
			top: calc(50% - 56px);
		}
	}

	@include rangeWidth($screen-xs-min,$screen-sm-max) {
		img {
			height: 80px !important;
		}

		.navbar-toggle {
			margin-top: 23px;
		}
	}

	@include rangeWidth($screen-sm-min,$screen-sm-max) {
		.navbar-toggle {
            display: block;
        }

        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

            &.collapse {
	            display: none!important;

	            &.in { 
		            display: block!important;
		        }
	        }
        }

        .navbar-nav {
            float: none!important;
            // margin: 7.5px -15px;

            > li {
	            float: none;

	            > a {
		            padding-top: 10px;
		            padding-bottom: 10px;
		        }
	        }
        }

        .collapsing {
            overflow: hidden!important;
        }
	}

	@include maxWidth($screen-md-max) {
		.container {
			width: 100%;
		}
	}

	@include maxWidth($screen-sm-max) {
		.logo {
			position: relative;
			top: 0;
		}

		.navbar-collapse {
			.row {
				> div {
					padding-left: 0;
					padding-right: 0;

					.navbar-nav {
						margin: 7px 0;
						
						> li {
							border-bottom: 1px dashed #aaa;

							&:last-child {
								border-bottom: none;
							}

							a {
								border-left: none;
							}
						}
					}
				}
			}
		}
	}

	@include maxWidth($screen-xss-max) {
		.logo {
			img {
				height: auto;
			}
		}

		.navbar-toggle {
			margin-right: 0;
		}
	}
}

/*
 * slider
 */
.owl-theme {
	.owl-nav {
		margin-top: 0;

		[class*='owl-'] {
		    margin: 0;
		    width: 50px;
		    height: 50px;
		    text-align: center;
		    border-radius: 50%;
		    font-size: 20px;
		    background-color: #fff;
		    color: #777;
		    position: absolute;
		    top: 50%;
		    margin-top: -25px;
		    transition: all 1s ease;

		    i {
		    	margin-top: 12px;
		    }
		}

		.owl-prev {
			left: 30px;
		}

		.owl-next {
		    right: 30px;
		}
	}
}

/*
 * 首頁三個區塊圖
 */
.index-block {
	.row {
		margin-left: 0;
		margin-right: 0;

		> a {
		    color: #333;
		    display: block;
		    height: 20vw;
		    min-height: 300px;
		    padding: 40px;
		    @include opacity(1);
		    @include filter(100);

			&.pd {
			    background: url(#{$img-path}home/product.png) no-repeat center/cover;
			}

			&.rd {
				color: #fff;
				background: url(#{$img-path}home/RD-design.png) no-repeat center/cover;
			}

			&.er {
				background: url(#{$img-path}home/EX-experience.png) no-repeat center/cover;
			}

			> div {
				height: 100%;
	    		width: 45%;

	    		h3 {
	    			margin-top: 0;
	    			font-weight: bold;
				    font-size: 28px;
				    line-height: 35px;
	    		}

	    		p {
				    font-size: 15px;
				    line-height: 25px;
				    margin-top: 5px;
	    		}

	    		span {
	    			@extend %all-transition;
	    			color: #fff;
	    			display: inline-block;
				    padding: 7px 20px;
				    margin-top: 15px;
				    font-weight: bold;
				    font-size: 15px;
				    background-color: #0068b7;
				    border: 1px solid #797979;
				    cursor: pointer;
	    		}
			}

			&:hover {
		    	@include opacity(0.9);
		    	@include filter(90);

		    	> div {
		    		span {
		    			background-color: #000;
		    		}
		    	}
		    }
		}
	}

	@include maxWidth($screen-md-max) {
		.row {
			> a {
				> div {
					width: 60%;

					h3 {
					    font-size: 25px;
    					line-height: 30px;
					}
				}
			}
		}
	}
}

.divTable {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;

    .divTableCell {
	    display: table-cell;
	    width: 100%;
	    height: 100%;
	    vertical-align: middle;
	}
}

/*
 * footer
 */
footer {
	padding-top: 33px;
	padding-bottom: 23px;
	background: #5a5a5a;

	.footer-contact {
		color: #fff;
	    line-height: 25px;
	    font-size: 16px;

	    > div {
	    	line-height: 21px;
    		margin-bottom: 0;

    		span {
    			font-size: 15px;
			    line-height: 30px;
			    display: inline-block;
			    margin-right: 10px;

			    > i {
			    	font-size: 12px;
    				margin-right: 5px;
			    }

			    > a {
			    	color: #fff;

			    	&:hover {
			    		color: #0448ac;
			    	}
			    }
    		}
	    }
	}
}

/*
 * breadcrumb
 */
.breadcrumb {
	background-color: rgba(0,0,0,.5);
	border-radius: 0;
	margin-bottom: 20px;
	
	> li {
		color: #fff;

		> a {
			color: #fff;

			&:hover {
				color: #0448ac;
			}
		}

		&.active {
			color: #fff;
		}

		+ li:before {
			content: "";
			background: url(#{$img-path}page/icon/arrow.png) no-repeat center center;
			background-size: 12px 12px;
			padding: 0 10px;
		}
	}
}

/*
 * pill
 */
.tabpanel {
	.sidebar {
		min-height: 300px;
		background-color: #efefef;

		h4 {
		    height: 80px;
		    margin-top: 0;
		    margin-bottom: 0;
		    padding-top: 35px;
		    font-size: 20px;
		    font-weight: 700;
		    text-align: center;
			background: url(#{$img-path}page/sidebar/title-bg.jpg) no-repeat center center;

			&:after {
				content: "";
				display: block;
				height: 20px;
				margin-top: 14px;
				position: relative;
				z-index: 2;
				background: url(#{$img-path}page/sidebar/bottom-arrow.png) no-repeat center center;
			}
		}
	}

	.tab-content {
		h2 {
			padding-left: 10px;
			border-left: 6px solid #333;
		}

		.content {
			font-size: 16px;
		}
	}

	@include rangeWidth($screen-sm-min,$screen-sm-max) {
		.container {
			width: 100%;
		}
	}

	@include maxWidth($screen-xs-max) {
		.sidebar {
			min-height: auto;

			h4 {
				background-repeat: unset;
			}
		}
	}
}

%all-pillsActiveA {
	color: #333;
	background-color: #c9c9c9;
}

.nav-pills {
	> li {
		@extend %all-transition;

		> a {
			@extend %all-transition;
			color: #333;
			font-size: 16px;
			font-weight: 700;
			border-radius: 0;

			&:hover {
				color: #0448ac;
			}

			> i {
				font-size: 14px;
				margin-right: 5px;
			}
		}

		&.active {
			> a {
				@extend %all-transition;
				@extend %all-pillsActiveA;	

				&:hover {
					@extend %all-pillsActiveA;
				}

				&:focus {
					@extend %all-pillsActiveA;
				}			
			}
		}
	}
}